@model ClientMoviePlanet.Models.MovieInfo

@{
	ViewData["Title"] = "Patch Description";
}

<h1>Patch Description for Movie: @ViewBag.MovieTitle</h1>
<hr />
<div class="row">
	<div class="col-md-2">
		<form asp-action="Patch" asp-controller="MovieInfo" asp-route-description="Description" asp-route-companyName="@ViewBag.CompanyName">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div>
				<label asp-for="companyId" class="form-label">Company Id: </label>
				<input type="number" min="1" readonly value="@ViewBag.companyId" asp-for="companyId" style="width: 500px" class="form-control" />
				<span asp-validation-for="companyId" class="text-danger"></span>
			</div>
			<div>
				<label asp-for="movieEidr" class="form-label">Movie EIDR: </label>
				<input asp-for="movieEidr" readonly style="width: 500px" class="form-control" />
				<span asp-validation-for="movieEidr" class="text-danger"></span>
			</div>
			<div>
				<label asp-for="description" class="form-label">Description: </label>
				<textarea style="width: 500px" asp-for="description" class="form-control"></textarea>
				<span asp-validation-for="description" class="text-danger"></span>
			</div>
			<div>
				<br />
				<input type="submit" value="Patch" class="btn btn-success" />
			</div>
		</form>
	</div>
</div>


<div>
	<br />
	<a asp-action="MoviesByCompany"
	   asp-route-companyId="@ViewBag.CompanyId"
	   asp-route-companyName="@ViewBag.CompanyName">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}