@model Tuple<ClientMoviePlanet.Models.CompanyInfo, IEnumerable<ClientMoviePlanet.Models.CompanyInfo>>

@{
	ViewData["Title"] = "Company";
}

<h1>All Companies</h1>
<p>
	<button type="button" onclick="location.href='@Url.Action("Create", "CompanyInfo")'" class="btn btn-success">Add Company</button>
	<form asp-action="Index" enctype="multipart/form-data">
		@*enctype="multipart/form-data" is used to handle file uploads using form*@
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="input-group">
			<h5>Company ID:</h5>
			<input style="width: 200px; margin-left: 2px" type="number" name="companyId" id="companyId" min="0" class="form-control" />
			<input type="submit" value="Search" class="btn btn-primary" />
		</div>
	</form>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				ID
			</th>
			<th>
				Name
			</th>
			<th>
				Details
			</th>
			<th>
				Founded
			</th>
			<th>
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Item2)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.CompanyId)
				</td>
				<td>
					<strong>@Html.DisplayFor(modelItem => item.CompanyName)</strong>
				</td>
				<td>
					<strong>@Html.DisplayFor(modelItem => item.Headquarters)</strong><br />
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.YearFounded)
				</td>
				<td>
					@*              @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
				@Html.ActionLink("Movies", "Movies", new { companyId=item.companyId })
				@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
					<a asp-controller="MovieInfo" asp-action="MoviesByCompany"
				   asp-route-companyId="@item.CompanyId"
				   asp-route-companyName="@item.CompanyName"
				   title="Movies">Movies</a>
					<a asp-controller="CompanyInfo" asp-action="Edit"
				   asp-route-companyId="@item.CompanyId"
				   asp-route-companyName="@item.CompanyName"
				   asp-route-headquarters="@item.Headquarters"
				   asp-route-description="@item.Description"
				   asp-route-yearFounded="@item.YearFounded"
				   title="Edit">Edit</a>
					<a asp-controller="CompanyInfo" asp-action="Delete"
				   asp-route-companyId="@item.CompanyId" title="Delete">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
