@model Tuple<ClientMoviePlanet.Models.CompanyInfo, IEnumerable<ClientMoviePlanet.Models.CompanyInfo>>

@{
	ViewData["Title"] = "Company";
}

<h1>All Companies</h1>
<p>
	<button type="button" onclick="location.href='@Url.Action("Create", "CompanyInfo")'" class="btn btn-success">Add Company</button>
	<form asp-action="Index" enctype="multipart/form-data">
		@*enctype="multipart/form-data" is used to handle file uploads using form*@
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="input-group">
			Company ID:
			<input style="width: 200px" type="number" name="companyId" id="companyId" min="0" class="form-control" />
			<input type="submit" value="Search" class="btn btn-primary" />
		</div>
	</form>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				Company ID
			</th>
			<th>
				Company Name
			</th>
			<th>
				Headquarters
			</th>
			<th>
				Description
			</th>
			<th>
				Founded In
			</th>
			<th>
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Item2)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.companyId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.companyName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.headquarters)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.yearFounded)
				</td>
				<td>
					@*              @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
				@Html.ActionLink("Movies", "Movies", new { companyId=item.companyId })
				@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
					<a asp-controller="MovieInfo" asp-action="MoviesByCompany"
				   asp-route-companyId="@item.companyId"
				   asp-route-companyName="@item.companyName"
				   title="Movies">Movies</a>
					<a asp-controller="CompanyInfo" asp-action="Edit"
				   asp-route-companyId="@item.companyId"
				   asp-route-companyName="@item.companyName"
				   title="Edit">Edit</a>
					<a asp-controller="CompanyInfo" asp-action="Delete"
				   asp-route-companyId="@item.companyId" title="Delete">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
